<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teamnugget">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeamNugget">
        <activity
            android:name=".IntakeReqUI"
            android:exported="true" />
        <activity
            android:name=".CCADescriptionUI"
            android:exported="true" />
        <activity
            android:name=".CCAUI"
            android:exported="true"
            android:label="@string/title_activity_entry_requirement_ui"
            android:theme="@style/Theme.TeamNugget.NoActionBar" />
        <activity
            android:name=".ITEUI"
            android:exported="true" />
        <activity
            android:name=".InstitutePage"
            android:exported="true" />
        <activity
            android:name=".SchoolUI"
            android:exported="true" />
        <activity
            android:name=".CourseUI"
            android:exported="true" />
        <activity
            android:name=".CourseInfo"
            android:exported="true" />
        <activity
            android:name=".PostALevelDiplomaUI"
            android:exported="true" />
        <activity
            android:name=".PostSecondaryUI"
            android:exported="true" />
        <activity
            android:name=".Search"
            android:exported="true" />
        <activity
            android:name=".PolytechnicUI"
            android:exported="true" />
        <activity
            android:name=".UniversityUI"
            android:exported="true" />
        <activity
            android:name=".PolyCourses"
            android:exported="true" />
        <activity
            android:name=".FilterSearch"
            android:exported="true" />
        <activity
            android:name=".JCHome"
            android:exported="true" />
        <activity
            android:name=".JCDirectAdmission"
            android:exported="true" />
        <activity
            android:name=".JCJointAdmission"
            android:exported="true" />
        <activity
            android:name=".JCSelectorUI"
            android:exported="true"
            android:label="@string/title_activity_entry_requirement_ui"
            android:theme="@style/Theme.TeamNugget.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>